@import url('https://fonts.googleapis.com/css?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
}

.highlight {
  background-color: #ffc93c;
  color: #155263;
}

body {
  font-family: "Vollkorn", serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #155263;
  color: #ffc93c;
}

h1, h2, h3 {
  font-family: "Unica One", cursive;
}

nav,
footer {
  background-color: #155263;
}

footer {
  padding: 1% 0;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: #ffc93c;
  border-bottom: 5px solid #ff6f3c;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
  list-style: none;
  padding-top: 20px;
  padding-left: 0;
}

nav > ul > li > a {
  color: #ffc93c;
  margin-right: 20px;
}

.hamburger {
  padding: 5px;
  margin-left: 10px;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #ffc93c;
  color: #155263;
}

section:nth-child(even) {
  background-color: #155263;
  color: #ffc93c;
}

.headshot-img {
  margin: auto auto;
  width: 50%;
  border: 1px solid #155263;
  border-radius: 1rem;
  text-align: center;
}

.content {
  margin: 25px 15px;
}

.about__content-text {
  text-align: left;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 4rem;
}

.project > h3 {
  font-size: x-large;
  font-weight: bold;
}

.project > p {
  max-width: 800px;
}

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.technologies > li {
  padding-left: 1rem;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.project-img {
  width: 75%;
  border: 2px solid #ffc93c;
  border-radius: 1rem;
}

.project-img-portrait {
  width: 50%;
  border: 2px solid #ffc93c;
  border-radius: 1rem;
}

.button {
  text-align: center;
  border-radius: 1rem;
  padding: 10px;
  margin-left: 1rem;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.code,
.live {
  color: #073763;
  background-color: #ffc93c;
  border: 2px solid #155263;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit, .close {
  color: #ffc93c;
  background-color: #155263;
  border: 2px solid #ffc93c;
  float: right;
}

.social {
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
}

.social a {
  color: #ffc93c;
}
.social a:hover {
  color: #ff6f3c;
}

.hidden {
  display: none;
}

@media screen and (min-width: 500px) {
  .headshot-img {
    width: 225px;
    margin: auto 20px;
  }
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    max-width: 1000px;
    margin: auto auto;
  }

  .technologies {
    flex-direction: row;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0;
    padding-left: 15px;
  }
}