* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.5;
}

.highlight {
  background-color: #ffc93c;
  color: #155263;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #155263;
  color: #ffc93c;
}

h1 {
  max-width: 75%;
  font-family: "Medula One", cursive;
}

h2 {
  font-family: "Medula One", cursive;
}

h3 {
  font-family: "Medula One", cursive;
}

nav,
footer {
  padding: 1% 0;
  background-color: #155263;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: #ffc93c;
  border-bottom: 5px solid #ff6f3c;
  z-index: 10;
}

nav ul {
  display: none;
  list-style: none;
}

nav > ul > li > a {
  color: #ffc93c;
  margin-right: 20px;
}

.hamburger {
  margin-left: 2px;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #ffc93c;
  color: #155263;
}

section:nth-child(even) {
  background-color: #155263;
  color: #ffc93c;
}

.headshot-img {
  width: 50%;
  height: auto;
  margin: 20px;
  border: 1px solid #155263;
  border-radius: 10%;
}

.content {
  margin: auto 20px;
}

.content ul {
  text-align: left;
}

.project-img {
  width: 95%;
  height: auto;
  border: 2px solid #ffc93c;
  border-radius: 10%;
}

.button {
  border-radius: 10px;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.code,
.live {
  color: #073763;
  background-color: #ffc93c;
  border: 2px solid #155263;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.submit {
  color: #ffc93c;
  background-color: #155263;
  border: 2px solid #ffc93c;
}

.social {
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
}

.social a {
  color: #ffc93c;
}
.social a:hover {
  color: #ff6f3c;
}

@media screen and (min-width: 500px) {
  .headshot-img {
    width: 225px;
  }
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 0px auto;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
  }
}